
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List all Orders</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">List of orders</div>
        <div class="panel-body">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Issue Date</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" th:each="order : ${orders}">
                    <td th:text="${order.getPlant().getName()}"></td>
                    <td th:text="${order.getRentalPeriod().getStartDate()}"></td>
                    <td th:text="${order.getRentalPeriod().getEndDate()}"></td>
                    <td th:text="${order.getStatus()}"></td>
                    <td th:text="${order.getIssueDate()}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>